body {
	font-family: 'Crimson Text', serif;
	color: $txt;
}
a {
	text-decoration: none;
	color: $txt;
}
li {
	list-style: none;
}
img {
	max-width: 100%;
	vertical-align: bottom;
}
.container {
	max-width: 90vw;
	margin: 0 auto;
}
.container2 {
	box-sizing: border-box;
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 18px;
}
.inner {
	display: flex;
	align-items: center;
	img {
		width: 482px;
		height: 482px;
	}
}
.logo {
	width: 110px;
	height: 15px;
	line-height: 1;
	a {
		display: block;
	}
}
.txt {
	width: 50%;
	padding: 0 7%;
	span {
		display: block;
		margin-bottom: 25px;
	}
	p {
		line-height: 1.5;
	}
}
.section_ttl {
	font-size: 1.5rem;
	font-weight: normal;
	margin-bottom: 5px;
}