#header {
	margin: 65px 0 30px;
	.header {
		&_top {
			max-width: 90vw;
			margin: 0 auto;
		}
		&_bottom {
			display: flex;
			align-items: center;
			padding: 32px 0;
			.logo {
				margin-right: 50px;
			}
		}
		&_list {
			display: flex;
			align-items: center;
			li {
				margin-right: 30px;
				&:last-child {
					margin-right: 0;
				}
				a {
					font-size: .9rem;
				}
			}
		}
	}
}

#work {
	margin: 60px 0;
}

#footer {
	.container2 {
		padding: 20px 18px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		p {
			font-size: .9rem;
		}
	}
}