@media screen and (max-width: 767px) {
	.inner {
		flex-flow: column;
	}
	.txt {
		width: 100%;
		span {
			margin-bottom: 30px;
		}
	}
	.section_ttl {
		font-size: 1.25rem;
		margin-top: 20px;
		margin-bottom: 10px;
	}

	#header {
		margin: 0 0 30px 0;
		.header {
			&_top {
				max-width: unset;
				margin: unset;
				img {
					width: 100%;
					height: 50vh;
					object-fit: cover;
				}
			}
			&_bottom {
				padding: 20px 0;
			}
		}
	}

	#work {
		.inner {
			flex-flow: column-reverse;
		}
	}
}